.productDesigner {
    position: relative;

    .productTypeBlock {
        display: flex;
        justify-content: center;

        .productType {
            border: 1px solid lightgrey;
            margin: 5px;
            display: flex;
            flex-direction: column;
            width: 140px;
            overflow: hidden;
            cursor: pointer;

            .name {
                text-align: center;
                margin: 5px 0;
            }

            .image {
                width: 100%;
                background-color: $primary-color;
                transition: opacity linear 0.2s;
                transition: background-color linear 0.2s;

                &:hover {
                    opacity: 0.7;
                    transition: opacity linear 0.2s;
                }
            }

            &.selected .image {
                background-color: #00aa90;
                transition: background-color linear 0.2s;
            }
        }
    }

    .productColorBlock {
        display: none;
        justify-content: center;

        &.active {
            display: flex;
        }

        .productColor {
            border: 1px solid lightgrey;
            margin: 5px;
            display: flex;
            flex-direction: column;
            width: 100px;
            overflow: hidden;
            cursor: pointer;

            .name {
                text-align: center;
                margin: 5px 0;
            }

            .color {
                width: 100px;
                height: 100px;
            }
        }
    }

    .designerWrapper {
        .designer-bg {
            background-image: url("/css/img/defaultShirt.png");
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            width: 480px;
            height: 600px;
            position: absolute;
            margin: 0 auto;
            left:0;
            right:0;

        }

        #designerPaper {
            /*width: 200px; //proporção tem de ser a mesma de 30*45cm
            height: 300px;*/
            width: 480px;
            height: 600px;
            position: absolute;
            margin: 0 auto;
            left:0;
            right:0;

            svg {
            }
        }

        .rightMenu{
            position:absolute;
            margin:5px;
            width:100px;
            height:100%;
            top:0;
            right:0;
            .btn{
                border:1px solid lightGray;
                width:35px;
                height:35px;
            }
            .addImage{
                background-image:url("http://findicons.com/icon/download/97195/image_add/48/png");
                background-position: 50% 50%;
                background-size:contain;
                background-repeat:no-repeat;
            }
        }
    }
}
