@using tshirt.Resources.General
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TShirts</h1>
    <p class="lead">Design your own shirts and sell thems</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">@General.DesignAndSell</a>
    </p>
</div>
