@using tshirt.Resources.General

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TShirts</h1>
    <p class="lead">Design your own shirts and sell thems</p>
    <p>
    @Html.ActionLink(General.DesignAndSell,"Index","Designer",null,new {@class= "btn btn-primary btn-lg" })
    </p>
</div>