@using tshirt.Resources.General
@model IEnumerable<tshirt.Data.Models.ProductType>

@{
    ViewBag.Title = General.Designer;
}
<div class="productDesigner">
    <h4>@General.Designer</h4>

    <h5>@General.SelectProductType</h5>
    <div class="productTypeBlock">
        @foreach (var type in Model)
        {
            <div class="productType">
                <img class="image" src="~/css/img/defaultShirt.png"/>
                <div class="name">@type.Name</div>

            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function() {
            var designerHandler = new Tshirt.Designer.DesignerHandler();
        })
    </script>
}