@using tshirt.Resources.General
@model IEnumerable<tshirt.Data.Models.ProductType>

@{
    ViewBag.Title = General.Designer;
}

<h2>@General.Designer</h2>

@foreach (var type in Model)
{
    <div class="productType">
        @type.Name
    </div>
}