@using tshirt.Resources.General
@model tshirt.Web.ViewModels.DesignerVm

@{
    ViewBag.Title = General.Designer;
}
<div class="productDesigner">
    <div id="fpd">
        @foreach (var pro in Model.ProductTypes) {
            <div class="fpd-product" title="@pro.Name" data-thumbnail="PREVIEW.png">
                <img src="~/css/img/defaultShirt.png" title="@pro.Name" data-parameters='{"x": 100, "y": 200, "colors": "#D5D5D5", "price": 20}' />
                <span title="TITLE_FOR_TEXT" data-parameters='{"x": 150, "y": 250, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#000000,#ffffff,#990000"}'>Default Text</span>
            </div>
        }
        <!-- Here you can add more product divs -->
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var options = {
                langJSON: false,
                templatesDirectory: '/css/lib/fpd/templates/',
                //templatesType: ''
            };
            var fancyProductDesigner = new FancyProductDesigner($('#fpd'),options);
        })
    </script>
}